<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">🚌 Reserva tu Boleto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'boletos:bus_list' %}">Buses</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Registrarse</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <span class="nav-link">{{ user.username }}</span>
                </li>
                <li class="nav-item">
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button class="nav-link btn btn-link" type="submit">Cerrar Sesión</button>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
